/*  */
.remove_button{
    border: 0px transparent;
    background-color: transparent;
    margin-left: 20px;
}

.table{
    max-height: 100px;
    border: black;
    overflow: scroll;
}

.t_row{
    height: 40px;
}